.whitener{
    color:#fff !important;
}

.bg_white{
    background: #fff none repeat scroll 0 0 !important;
}
.x-content {
  float: left;
  width: 100%;
  padding: 20px 0px 0px;
  background: #FFF;
}
.x-content .x-widget-timeline {
  float: left;
  width: 100%;
  background: #FFF;
  /*margin: 80px 0px 0px;*/
  -moz-box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.15);
}
.x-content .x-widget-timeline .x-widget-timelime-head {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 0px 20px;
}
.x-content .x-widget-timeline .x-widget-timelime-head h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  float: left;
  color: #202020;
  margin: 0px;
  padding: 0px;
}
.x-content .x-widget-timeline .x-widget-timelime-head a {
  font-size: 13px;
  color: #202020;
  line-height: 20px;
}
.x-widget-timeline .x-widget-timelime-head a span {
  font-size: 14px;
  margin-left: 10px;
}
.x-widget-timeline .x-widget-timeline-content {
  float: left;
  width: 100%;
  padding: 10px 20px 15px;
}
.x-widget-timeline .x-widget-timeline-content .item {
  float: left;
  padding: 0px 15px 15px;
  border-left: 1px solid #DEE4EC;
  position: relative;
  background: #FFF;
  line-height: 20px;
  font-size: 13px;
  vertical-align: top;
  clear: both;
}
.x-widget-timeline .x-widget-timeline-content .item a {
  color: #05AAE5;
}
.x-widget-timeline .x-widget-timeline-content .item span {
  float: left;
  color: #94ABBA;
  font-size: 11px;
  width: 100%;
  margin-top: 5px;
}
.x-widget-timeline .x-widget-timeline-content .item:after {
  position: absolute;
  display: block;
  content: " ";
  width: 11px;
  height: 11px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: -6px;
  top: 5px;
  border: 3px solid #C1CDDB;
  background: #FFF;
}
.x-widget-timeline .x-widget-timeline-content .item.item-blue:after {
  border-color: #3FBAE4;
}
.x-widget-timeline .x-widget-timeline-content .item.item-green:after {
  border-color: #95B75D;
}
.x-widget-timeline .x-widget-timeline-content .item.item-red:after {
  border-color: #E34724;
}
.x-widget-timeline .x-widget-timeline-content .btn {
  margin-top: 15px;
  float: left;
}

.grid-action-align{
    display: inline-flex !important;
    white-space: nowrap !important;
}

.table-buttons-duplicate {
    position: absolute;
    right: 30px;
    top: 10px;
    display:block !important;
}
.table-buttons
{
    display:none;
}
.pagination_block {
    float: right;
    width: 64%;
}


/*div.slimScrollDiv div{
    background:none !important;
}*/

.music4
{
    background:url("../assets/images/gallery/music-4.jpg") !important;
}

        .list-group > .x-navigation
        {
            background: none !important;
        }
        .list-group >.x-navigation li > ul
        {
            background: none !important;
        }
        .list-group > .x-navigation li > a
        {
            border-color: #e5e5e5 !important;
            padding:10px 15px !important;
             color: #555 !important;
        }
        .list-group >.x-navigation li > a .fa, .list-group >.x-navigation li > a .glyphicon
        {
            color: #555 !important;
            margin-right: 10px !important;
        }
        .list-group>.x-navigation li > a > .badge {
        float: right;
        }
        .list-group>.x-navigation li.xn-openable::before
        {
            color: #555 !important;
        }
        .list-group > .x-navigation > li:last-child > a
        {
            border-radius : 0px !important;
        }
        .list-group > .x-navigation li > a:hover, .list-group > .x-navigation li > a:focus {
    background: #f9f9f9 none repeat scroll 0 0;
}
        .list-group >.x-navigation li.active:not(.xn-openable) > a {
        background: #33414e none repeat scroll 0 0 !important;
        border-color: #33414e !important;
        color: #fff !important;
        transition: all 200ms ease 0s;
        }
        .list-group >.x-navigation li.active > a .fa, .list-group >.x-navigation li.active > a .glyphicon
        {
            color: #fff !important;
           
        }
        .list-group>.x-navigation li.active:before
        {
            color: #fff !important;
        }
        
         .list-group >.x-navigation li.active, .list-group >.x-navigation li.active:focus, .list-group >.x-navigation li.active:hover
         {
             background: #f9f9f9 none repeat scroll 0 0;
            border-color: #f9f9f9;
             
         }

  .upload-attachment {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #b64645;
    border-color: #b64645;
}
.upload-icon {
    
    float: left;
    font-weight: normal;
    height: 21px;
    padding-left: 30px;
}

.upload-attachment img{ padding-right:10px;}

.ajax-file-upload-filename {
    background: rgba(0, 0, 0, 0) url("../img/attachment-icon.png") no-repeat scroll 0 2px;
    float: left;
    font-size: 12px;
    margin-top: 8px;
    padding-left: 22px;
    text-align: left;
    width: 90%;
}
.ajax-file-upload-statusbar {
    float: left;
    position: relative;
    width: 100%;
}
.ajax-file-upload-statusbar .ajax-file-upload-filename {
    margin-top: 8px;
    overflow-wrap: break-word;
    width: auto;
     margin-right:20px;
}
.ui-dialog iframe {
    height: 480px;
    width: 100%;
}

.ui-dialog-titlebar-close 
{
    display: inline-block !important;
    font-family: FontAwesome !important;
    font-feature-settings: normal !important;
    font-kerning: auto !important;
    font-language-override: normal !important;
    font-size: inherit !important;
    font-size-adjust: none !important;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}


.ui-dialog-titlebar-close :before {
    content: "\f00d" !important;
}

.hasDatepicker {
    float: left;
    margin-right: 7px;
    width: 80% !important;
}
    .add-coloum { clear: both;
    color: #208bbd;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
    margin-top: 3px;
    text-align: left;
    width: auto;
}